<div class="card card-pad card-shadow" [@cardGrow]="_cardState"
[ngStyle]="{'box-shadow': getBorderStyle()}"
(mouseenter)="cardEntered()"
(mouseleave)="cardLeft()">
  <h3>{{cardDetails.title}}</h3>
  <p>{{cardDetails.desc}}</p>
</div>
