    <!-- Table start -->
    <table class="table table-striped table-hover">
      <thead>
        <th [appSortCol]="cpus" data-order="desc" data-name="id" appPoint>id</th>
        <th [appSortCol]="cpus" data-order="asc" data-name="name">Name</th>
        <th>Description</th>
        <th>Cores</th>
        <th>Speed</th>
        <th>Bus</th>
        <th>Aux</th>
        <th>Lat</th>
        <th>Lng</th>
        <!-- this is a generated column  -->
        <th>Rank</th>
        <th>Experiment</th>
      </thead>
      <tbody>
        <!-- notice the use of the async pipe -->
        <tr *ngFor="let c of cpus | async; index as i; first as isFirst; odd as isOdd;" (click)="rowClick(c,i)" style="cursor: pointer;">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.desc}}</td>
          <td>{{c.cores}}</td>
          <td>{{c.speed}}</td>
          <td>{{c.bus}}</td>
          <!-- this is our pipe that consumes the observable -->
          <td>{{cpus | cpuAux: c.aux}}</td>
          <td>{{c.lat}}</td>
          <td>{{c.lng}}</td>
          <!-- this is a generated value -->
          <td>{{c.cores | cpuRank: c.speed }}</td>
          <td>{{c.bus | cpuRank: c.speed }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Table end -->
