<h3>Reactive Form</h3>
<h5 appPoint>immutable</h5>
<!-- binding the form group object to the form using the formGroup directive -->
<form [formGroup]="cpuForm2" (ngSubmit)="onSubmit()">
  <!-- binding the form controls to the inputs -->
  <label for="id">ID:</label>
  <input class="form-control" id="id" name="id" type="text" formControlName="id"/>
  <br /><br />
  <label for="name">Name:</label>
  <input class="form-control" id="name" name="name" type="text" formControlName="name"/>
  <br /><br />
  <label for="desc">Desc:</label>
  <input class="form-control" id="desc" name="desc" type="text" formControlName="desc"/>
  <br /><br />
  <label for="cores">Cores:</label>
  <input class="form-control" id="cores" name="cores" type="text" formControlName="cores"/>
  <br /><br />
  <label for="speed">Speed:</label>
  <input class="form-control" id="speed" name="speed" type="text" formControlName="speed"/>
  <br /><br />
  <label for="bus">Bus:</label>
  <input class="form-control" id="bus" name="bus" type="text" formControlName="bus"/>
  <br /><br />
  <label for="aux">Aux:</label>
  <input class="form-control" id="aux" name="aux" type="text" formControlName="aux"/>
  <br /><br />
  <label for="lat">Lat:</label>
  <input class="form-control" id="lat" name="lat" type="text" formControlName="lat"/>
  <br /><br />
  <label for="lng">Lng:</label>
  <input class="form-control" id="lng" name="lng" type="text" formControlName="lng"/>
  <br /><br />
  <!-- this form array control allows us to add custom properties to the model -->
  <div formArrayName="properties">
      <label>Properties</label>
      <div *ngFor="let p of properties.controls; let i = index">
        <label for="prop-{{i}}">Prop {{i}}:</label>
        <input class="form-control" id="prop-{{i}}" type="text" [formControlName]="i">
      </div>
      <br><br>
      <button class="btn btn-success" type="button" (click)="addProp()"> add property</button>
  </div>
  <br><br>
  <!-- we can use properties of the form group object -->
  <p>Form Status: {{ cpuForm2.status }}</p>
  <br><br>
  <button  class="btn btn-warning" type="submit" [disabled]="!cpuForm2.valid">Submit</button>
</form>



