<h3>Template Driven Form</h3>
<h5 appPoint>mutable</h5>
<form>
  <div class="form-group">
    <!-- two-way binding via [(ngModel)] directive will UPDATE the object properties via the field-->
    <label for="id">ID:</label>
    <input
      class="form-control"
      id="id"
      name="id"
      type="text"
      [(ngModel)]="selectedCpu.id"
      required
    />
    <br /><br />
    <!-- this field shows how we can do template-driven form validation -->
    <label for="name">Name:</label>
    <input
      class="form-control"
      id="name"
      name="name"
      type="text"
      [(ngModel)]="selectedCpu.name"
      #name="ngModel"
      appForbiddenName="susan"
      minlength="4"
      required
    />
    <!-- template-driven form validation -->
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
      <!-- built in validators -->
      <div *ngIf="name.errors?.['required']" appPoint>
        Name is required.
      </div>
      <div *ngIf="name.errors?.['minlength']" appPoint>
        Name must be at least 4 characters long.
      </div>
      <!-- custom directive validation -->
      <div *ngIf="name.errors?.['forbiddenName']" appPoint>
        Name cannot be Susan.
      </div>
    </div>
    <!-- end of name validaiton -->
    <br /><br />
    <label for="desc">Desc:</label>
    <input
      class="form-control"
      id="desc"
      name="desc"
      type="text"
      [(ngModel)]="selectedCpu.desc"
    />
    <br /><br />
    <label for="cores">Cores:</label>
    <input
      class="form-control"
      id="cores"
      name="cores"
      type="text"
      [(ngModel)]="selectedCpu.cores"
    />
    <br /><br />
    <label for="speed">Speed:</label>
    <input
      class="form-control"
      id="speed"
      name="speed"
      type="text"
      [(ngModel)]="selectedCpu.speed"
    />
    <br /><br />
    <!-- if we only use the input [ngModel] then the property is ONLY updated -->
    <label for="bus">Bus:</label>
    <input
      class="form-control"
      id="bus"
      name="bus"
      type="text"
      [ngModel]="selectedCpu.bus"
    />
    <br /><br />
    <label for="aux">Aux:</label>
    <input
      class="form-control"
      id="aux"
      name="aux"
      type="text"
      [ngModel]="selectedCpu.aux"
    />
    <br /><br />
    <!-- if we only use the output (ngModel) the fields WONT be updated -->
    <label for="lat">Lat:</label>
    <input
      class="form-control"
      id="lat"
      name="lat"
      type="text"
      (ngModel)="(selectedCpu.lat)"
    />
    <br /><br />
    <label for="lng">Lng:</label>
    <input
      class="form-control"
      id="lng"
      name="lng"
      type="text"
      (ngModel)="(selectedCpu.lng)"
    />
    <br /><br />
  </div>
</form>
