<div class="row">
  <app-card-body
    class="col"
    [cardDetails]="{ title: 'Name', desc: cpu.name }"
    appPoint
  ></app-card-body>
  <app-card-body
    class="col"
    [cardDetails]="{ title: 'Description', desc: cpu.desc }"
  ></app-card-body>
  <app-card-body
    class="col"
    [cardDetails]="{ title: 'Speed', desc: getStringOf(cpu.speed)}"
  ></app-card-body>
</div>
