<!-- this is the bootstrap container  -->
<div class="bg-container">
  <br /><br />
  <div class="container">
    <app-cpu-spotter [cpus]="cpu$" (cpuClick)="setSelectedCpu($event)"></app-cpu-spotter>
    <br /><br />
    <div class="row">
      <div class="col-md-6">
        <app-reactive-form [selectedCpu]="_selectedCpu"></app-reactive-form>
      </div>
      <div class="col-md-6">
        <app-template-driven-form [selectedCpu]="_selectedCpu"></app-template-driven-form>
      </div>
    </div>
  </div>
  <br /><br />
</div>
