<h3 appPoint>Spotter</h3>
<app-map-row [lat]="getLat()" [lng]="getLng()"></app-map-row> <br /><br />
<app-card-pane [cpu]="getSelectedCpu()"></app-card-pane><br /><br />
<app-cpu-table [cpus]="cpus" (cpuClick)="setCpu($event)"></app-cpu-table>
